# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Local project runtime files
*.log

# Data files and generated artifacts
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Python packaging
*.egg-info/
.dist/

# Notebook checkpoints
.ipynb_checkpoints/
